@use '../styles/theme/theme';
@use './mixins';

.qei-icon-button {
    position: relative;
    color: inherit;

    .hover {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all 300ms ease-in-out;
        z-index: 1;
        background-color: transparent;
    }

    &.condense {
        padding: 2px;
    }

    &:not(:disabled).color-inherit {
        color: inherit !important;
    }

    &.circle {
        border-radius: 50%;
    }

    &:not(:disabled):hover > .hover {
        background-color: map-get($map: theme.$themeColors, $key: 'hover');
    }

    &:not(:disabled):active > .hover {
        background-color: map-get($map: theme.$themeColors, $key: 'click');
    }

    &.btn-type-basic {
        @include mixins.basic();
    }

    &.btn-type-flat {
        @include mixins.flat();
    }

    &.btn-type-raised {
        @include mixins.raised();
    }

    &.btn-type-stroked {
        @include mixins.stroked();
    }

    &:disabled {
        cursor: default;
        color: map-get($map: theme.$themeColors, $key: 'disabledText');
    }

    &:not(.condense).btn-size-extra-small {
        @include mixins.elementSize('extra-small');
    }

    &:not(.condense).btn-size-small {
        @include mixins.elementSize('small');
    }

    &:not(.condense).btn-size-default {
        @include mixins.elementSize('default');
    }

    &:not(.condense).btn-size-large {
        @include mixins.elementSize('large');
    }

    &:not(.condense).btn-size-extra-large {
        @include mixins.elementSize('extra-large');
    }
}
