@use '../styles/theme/theme';
@use '../styles/theme/functions';
@use 'sass:color';

.qei-message {
	position: relative;

	&.size-extra-small {
		.qei-title {
			font-size: 0.75em;
		}
	}

	&.size-small {
		.qei-title {
			font-size: 0.85em;
		}
	}

	&.size-default {
		.qei-title {
			font-size: 1em;
		}
	}

	&.size-large {
		.qei-title {
			font-size: 1.2em;
		}
	}

	&.size-extra-large {
		.qei-title {
			font-size: 1.4em;
		}
	}
}
